@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/******* html body root styling *****/
html {
  font-size: 15px; }

body {
  margin: 0;
  padding: 0; }
  body .root {
    display: flex;
    flex-direction: column; }

/***** header styling only *****/
.header .company_name {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: .5rem;
  position: relative;
  bottom: .5rem;
  letter-spacing: .2rem;
  left: 3.7rem;
  width: 17rem;
  font-weight: thin;
  font-family: "Raleway", sans-serif; }
  .header .company_name .company_name_z {
    color: #32CD32; }
.header .quote_button {
  color: white;
  background: #2980b9;
  border: 1px solid white;
  border-radius: .09rem;
  position: relative;
  bottom: .9rem;
  height: 3rem;
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  display: block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer; }
  .header .quote_button:hover {
    background: #3498db;
    opacity: .8; }

.nav_container {
  background: #2980b9; }
  .nav_container .hamburger_container {
    cursor: pointer;
    width: 1rem; }
    .nav_container .hamburger_container .hamburger_bar_top, .nav_container .hamburger_container .hamburger_bar_center, .nav_container .hamburger_container .hamburger_bar_bottom {
      background: white;
      height: .38rem;
      width: 2.1rem;
      margin-bottom: .4rem;
      position: relative;
      top: 1.6rem;
      left: .8rem; }

.hamburger_nav_menu {
  display: none;
  list-style: none;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  background: #3498db;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  cursor: pointer; }
  .hamburger_nav_menu .hamburger_nav_menu_one, .hamburger_nav_menu .hamburger_nav_menu_two, .hamburger_nav_menu .hamburger_nav_menu_three {
    border-top: 1px solid white;
    height: 3rem;
    padding-top: 2rem; }

.hero_banner {
  background: red;
  height: 26rem;
  line-height: 1.5;
  padding: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../testThree.jpg");
  background-size: cover;
  color: white; }
  .hero_banner .hero_banner_quality_paragraph, .hero_banner .hero_banner_ideas_paragraph {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 100; }
  .hero_banner .hero_banner_ideas_paragraph {
    font-size: 1.1rem; }
  .hero_banner .lets_talk_button {
    height: 3rem;
    width: 50%;
    border-radius: .09rem;
    background: #32CD32;
    display: block;
    margin: 0 auto;
    border: none;
    color: white;
    position: relative;
    top: 3rem;
    cursor: pointer; }

.projects_text {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #2980b9; }

.projects {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: thin;
  height: 21rem;
  width: 95%;
  padding: .65rem; }

.cont1 {
  display: flex;
  flex-direction: row;
  height: 50%; }

.cont2 {
  display: flex;
  flex-direction: row;
  height: 50%;
  justify-content: flex-end; }

.left_project {
  width: 35%;
  height: 200%;
  background: url("../img/websiteex.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate(-5%, 0); }
  .left_project:hover::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: black;
    opacity: .5;
    position: absolute;
    transition: .5s all; }

.top_project {
  width: 65%;
  height: 100%;
  background: url("../img/davidProjectWay.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate(0.5%, -2.5%); }
  .top_project:hover::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: black;
    opacity: .5;
    position: absolute;
    transition: .5s all; }

.center_project {
  width: 32.5%;
  height: 100%;
  background: url("../img/kevinProjectTwo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate(0, 2.5%); }
  .center_project:hover::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: black;
    opacity: .5;
    position: absolute;
    transition: .5s all; }

.right_project {
  width: 32.5%;
  height: 100%;
  background: url("../img/yelpOne.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  transform: translate(2%, 2.5%); }
  .right_project:hover::before {
    border: 1px solid red;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: black;
    opacity: .5;
    position: absolute;
    transition: .5s all; }

.view_text_container {
  font-size: 1.5rem;
  text-align: center;
  width: 50%;
  display: flex;
  height: 100%;
  margin: 0 auto;
  align-items: center; }
  .view_text_container .view_text {
    margin: 0 auto;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear; }

.left_project, .top_project, .center_project, .right_project {
  cursor: pointer;
  z-index: 1; }
  .left_project:hover .view_text, .top_project:hover .view_text, .center_project:hover .view_text, .right_project:hover .view_text {
    text-decoration: underline #2980b9;
    color: white;
    visibility: visible;
    opacity: 1; }

.section_two {
  padding-bottom: 1.5rem;
  background: #ecf0f1; }
  .section_two .section_two_header_container {
    text-align: center;
    font-family: "Raleway", sans-serif; }
  .section_two .section_two_dev_container {
    height: 34rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.section_two_dev {
  border: 1px solid #bdc3c7;
  border-radius: .6rem;
  background: white;
  color: #bdc3c7; }
  .section_two_dev .section_two_dev_img_container {
    margin: 0;
    padding: 1rem 0 1rem 0; }
    .section_two_dev .section_two_dev_img_container .section_two_dev_img {
      margin: 0  auto;
      border-radius: 50%;
      height: 6.5rem;
      width: 6.5rem; }

.section_two_dev_david {
  background: url("../img/david.jpg");
  background-size: cover; }

.section_two_dev_kevin {
  background: url("../img/kevin.jpg");
  background-size: cover; }

.section_two_dev_info_container {
  text-align: center;
  font-family: "Roboto", sans-serif; }
  .section_two_dev_info_container .section_two_info_icons {
    display: flex; }
    .section_two_dev_info_container .section_two_info_icons .section_two_info_icon {
      border: 1px solid #ecf0f1;
      width: 33.33%;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .section_two_dev_info_container .section_two_info_icons .section_two_info_icon .fa {
        font-size: 1.5rem;
        transition: .5s all;
        cursor: pointer; }

.fa-github:hover, .fa-github:active {
  color: #000000; }

.fa-linkedin:hover, .fa-linkedin:active {
  color: #0077B5; }

.fa-user-o:hover, .fa-user-o:active {
  color: #32CD32; }

.section_two_dev_info_name {
  font-size: 1.3rem;
  color: #2980b9;
  margin: 0; }

.section_two_dev_info_title {
  font-weight: bold;
  color: #7f8c8d;
  font-size: 1rem; }

.section_two_info_icon_top {
  border-radius: 0 0 0 .5rem; }

.section_two_info_icon_bottom {
  border-radius: 0 0 .5rem 0; }

.section_three {
  display: flex;
  flex-direction: column; }
  .section_three .section_three_header_container {
    text-align: left;
    padding: 1rem; }
  .section_three .section_three_questions {
    line-height: 1.5;
    padding: 1rem; }

.section_three_header {
  padding: 1rem;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif; }

.section_three_questions_header {
  font-family: "Raleway", sans-serif; }

.section_three_questions_header {
  font-family: "Roboto", sans-serif; }

.site_footer {
  display: flex;
  flex-direction: column;
  background: #2980b9;
  padding: 1rem; }
  .site_footer .company_name {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    width: 17rem;
    font-weight: thin;
    font-family: "Raleway", sans-serif;
    margin: 0 auto; }
    .site_footer .company_name .company_name_z {
      color: #32CD32; }

.button_back_to_top_container {
  display: flex;
  flex-direction: row; }
  .button_back_to_top_container .back_to_top {
    height: 2.2rem;
    width: 2.2rem;
    display: block;
    position: absolute;
    right: 3.4rem; }
  .button_back_to_top_container .footer_button {
    height: 2.5rem;
    width: 40%;
    border-radius: .09rem;
    background: #32CD32;
    display: block;
    margin-bottom: 1.5rem;
    border: none;
    margin: 0 auto;
    color: white;
    cursor: pointer; }

.footer_ul_container {
  list-style: none;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .footer_ul_container .footer_ul_item_one, .footer_ul_container .footer_ul_item_two, .footer_ul_container .footer_ul_item_three {
    display: inline-block;
    margin-bottom: 0.5rem; }

.small_copyright_text, .small_developed_by_text {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  margin: 2rem 0 0 0; }

.small_developed_by_text {
  margin: 0; }

@media only screen and (min-width: 700px) {
  .hero_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .hero_banner .hero_banner_quality_paragraph {
      margin: 0;
      width: 70%; }
    .hero_banner .hero_banner_ideas_paragraph {
      margin: 0;
      width: 40%; }
    .hero_banner .lets_talk_button {
      width: 20%; } }

/*# sourceMappingURL=style.css.map */
