@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/******* html body root styling *****/
html {
  font-size: 15px; }

body {
  margin: 0;
  padding: 0; }
  body .root {
    display: flex;
    flex-direction: column; }

/***** header styling only *****/
.header .company_name {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: .5rem;
  position: relative;
  bottom: .5rem;
  letter-spacing: .2rem;
  left: 3.7rem;
  width: 17rem;
  font-weight: thin;
  font-family: "Raleway", sans-serif; }
  .header .company_name .company_name_z {
    color: #32CD32; }
.header .quote_button {
  color: white;
  background: #2980b9;
  border: 1px solid white;
  border-radius: .09rem;
  position: relative;
  bottom: .9rem;
  height: 3rem;
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  display: block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer; }
  .header .quote_button:hover {
    background: #3498db;
    opacity: .8; }

.nav_container {
  background: #2980b9; }
  .nav_container .hamburger_container {
    cursor: pointer;
    width: 1rem; }
    .nav_container .hamburger_container .hamburger_bar_top, .nav_container .hamburger_container .hamburger_bar_center, .nav_container .hamburger_container .hamburger_bar_bottom {
      background: white;
      height: .38rem;
      width: 2.1rem;
      margin-bottom: .4rem;
      position: relative;
      top: 1.6rem;
      left: .8rem; }

.hamburger_nav_menu {
  display: none;
  list-style: none;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  background: #3498db;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  cursor: pointer; }
  .hamburger_nav_menu .hamburger_nav_menu_one, .hamburger_nav_menu .hamburger_nav_menu_two, .hamburger_nav_menu .hamburger_nav_menu_three {
    border-top: 1px solid white;
    height: 3rem;
    padding-top: 2rem; }

.hero_banner {
  border: 1px solid black;
  height: 25rem;
  line-height: 1.5;
  padding: 1rem; }
  .hero_banner .hero_banner_quality_paragraph, .hero_banner .hero_banner_ideas_paragraph {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 100; }
  .hero_banner .hero_banner_ideas_paragraph {
    font-size: 1.1rem; }
  .hero_banner .lets_talk_button {
    height: 3rem;
    width: 50%;
    border-radius: .09rem;
    background: #32CD32;
    display: block;
    margin: 0 auto;
    border: none;
    color: white;
    position: relative;
    top: 3rem; }

.section_one {
  display: flex;
  flex-direction: column; }
  .section_one .section_one_header_container {
    text-align: left;
    padding: 1rem; }
  .section_one .section_one_questions {
    line-height: 1.5;
    padding: 1rem; }

.section_one_header {
  padding: 1rem;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif; }

.section_one_questins_header {
  font-family: "Raleway", sans-serif; }

.section_one_questins_header {
  font-family: "Roboto", sans-serif; }

.section_two {
  padding-bottom: 1.5rem;
  background: #ecf0f1; }
  .section_two .section_two_header_container {
    text-align: center;
    font-family: "Raleway", sans-serif; }
  .section_two .section_two_dev_container {
    height: 34rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.section_two_dev {
  border: 1px solid #bdc3c7;
  border-radius: .6rem;
  background: white;
  color: #bdc3c7; }
  .section_two_dev .section_two_dev_img_container {
    margin: 0;
    padding: 1rem 0 1rem 0; }
    .section_two_dev .section_two_dev_img_container .section_two_dev_img {
      margin: 0  auto;
      border-radius: 50%;
      height: 6.5rem;
      width: 6.5rem; }

.section_two_dev_david {
  background: url("../img/david.jpg");
  background-size: cover; }

.section_two_dev_kevin {
  background: url("../img/kevin.jpg");
  background-size: cover; }

.section_two_dev_info_container {
  text-align: center;
  font-family: "Roboto", sans-serif; }
  .section_two_dev_info_container .section_two_info_icons {
    display: flex; }
    .section_two_dev_info_container .section_two_info_icons .section_two_info_icon {
      border: 1px solid #ecf0f1;
      width: 33.33%;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .section_two_dev_info_container .section_two_info_icons .section_two_info_icon .fa {
        font-size: 1.5rem; }

.section_two_dev_info_name {
  font-size: 1.3rem;
  margin: 0; }

.section_two_dev_info_title {
  font-weight: bold;
  color: #7f8c8d;
  font-size: 1rem; }

.section_two_info_icon_top {
  border-radius: 0 0 0 .5rem; }

.section_two_info_icon_bottom {
  border-radius: 0 0 .5rem 0; }

/*# sourceMappingURL=style.css.map */
