$light-purple: #9b59b6;
$dark-purple: #8e44ad;
$black: #000000;

$small-font: .5rem;
$meidum-font: 1rem;
$large-font: 1.5rem;

$small-padding: .5rem;
$meidum-padding: 1rem;
$large-padding: 1.5rem;

$small-margin: .5rem;
$meidum-margin: 1rem;
$large-margin: 1.5rem;