@import 'mixins';
@import 'vars';

html {
	font-size: 15px;
}
body{
	border: 1px solid black;
	.root{
		border: 1px solid $black;
	}
}
.site_header{
	border: 1px solid $black;
	height: 20rem;
}
.section_one {
	border: 1px solid $black;
	height: 20rem;
}
.section_two {
	border: 1px solid $black;
	height: 20rem;
}
.section_three {
	border: 1px solid $black;
	height: 20rem;
}
.site_footer {
	border: 1px solid $black;
	height: 20rem;
}