@import 'mixins';
@import 'vars';
@import url('https://fonts.googleapis.com/css?family=Raleway');//heading font realeway
@import url('https://fonts.googleapis.com/css?family=Roboto'); // paragraph font roboto.
/******* html body root styling *****/
html {
	font-size: 15px;
}
body {
	margin: 0;
	padding: 0;
	.root{ //flex box main container
		display: flex;
		flex-direction: column;
	}
}
/***** header styling only *****/
.header {
	.company_name {
		color: white;
		text-align: center;
		font-size: 1.5rem;
		margin: 0;
		padding-bottom: .5rem;
		position: relative;
		bottom: .5rem;
		letter-spacing: .2rem;
		left: 3.7rem;
		width: 17rem;
		font-weight: thin;
		font-family: $heading-font;
		.company_name_z{
			color: $green;
		}
	}

	.quote_button {
		color: white;
		background: $dark-blue;
		border: 1px solid white;
		border-radius: .09rem;
		position: relative;
		bottom: .9rem;
		height: 3rem;
		font-family: $heading-font;
		margin: 0 auto;
		display: block;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		cursor: pointer;
			&:hover {
				background: $light-blue;
				opacity: .8;
		}
	}	
}
.nav_container {
	background: $dark-blue;
	.hamburger_container{
		cursor: pointer;
		width: 1rem;
		.hamburger_bar_top , .hamburger_bar_center, .hamburger_bar_bottom {	
			background: white;
			height: .38rem;
			width: 2.1rem;
			margin-bottom: .4rem;
			position: relative;
			top: 1.6rem;
			left: .8rem;
		}
	}
}
.hamburger_nav_menu {
	display: none;
    list-style: none;
    font-size: 1.5rem;
    font-family: $heading-font;
	background: $light-blue;
	margin: 0;
	padding: 0;
	text-align: center;
	color: white;
	cursor: pointer;
	.hamburger_nav_menu_one , .hamburger_nav_menu_two , .hamburger_nav_menu_three{
		border-top: 1px solid white;
		height: 3rem;
		padding-top: 2rem;	
	}
}
// Hero banner
.hero_banner {
	background: red;
	height: 26rem;
	line-height: 1.5;
	padding: 1rem;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../testThree.jpg');
	background-size: cover;
	color: white;
	.hero_banner_quality_paragraph , .hero_banner_ideas_paragraph {
		font-family: $heading-font;
		font-size: $medium-font * 1.5;
		text-align: center;
		font-weight: 100;
	}
	.hero_banner_ideas_paragraph {
		font-size: $medium-font * 1.1;
	}
	.lets_talk_button {
		height: 3rem;
		width: 50%;
		border-radius: .09rem;
		background: $green;
		display: block;
		margin: 0 auto;
		border: none;
		color: white;
		position: relative;
		top: 3rem;
		cursor: pointer;
	}
}
// Section One
.projects_text{
	text-align: center;
	font-family: $heading-font;
	color: $dark-blue;
}
.projects {
	display: flex;
  	margin: 0 auto;
  	flex-direction: column;
  	font-family: $paragraph-font;
  	font-weight: thin;
  	height: 21rem;
  	width: 95%;
  	padding: .65rem;
}
.cont1 {
	display: flex;
	flex-direction: row;
	height: 50%;
}
.cont2 {
	display: flex;
  	flex-direction: row;
  	height: 50%;
  	justify-content: flex-end;
}
.left_project {
	width: 35%;
	height: 200%;
	background: url("../img/websiteex.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	transform: translate(-5%, 0);
	&:hover::before {
		content: "";
		display: block;
		height: 100%;
		width: 100%;
		background: black;
		opacity: .5;
		position: absolute;
		transition: .5s all;		
	}
}
.top_project {
	width: 65%;
	height: 100%;
	background: url("../img/davidProjectWay.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	transform: translate(.5%, -2.5%);
	&:hover::before {
		content: "";
		display: block;
		height: 100%;
		width: 100%;
		background: black;
		opacity: .5;
		position: absolute;
		transition: .5s all;
	}
}
.center_project {
	width: 32.5%;
	height: 100%;
	background: url("../img/kevinProjectTwo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	transform: translate(0, 2.5%);
	&:hover::before {
		content: "";
		display: block;
		height: 100%;
		width: 100%;
		background: black;
		opacity: .5;
		position: absolute;
		transition: .5s all;
	}
}
.right_project{
	width: 32.5%;
	height: 100%;
	background: url("../img/yelpOne.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	transform: translate(2%, 2.5%);
	&:hover::before {
		border: 1px solid red;
		content: "";
		display: block;
		height: 100%;
		width: 100%;
		background: black;
		opacity: .5;
		position: absolute;
		transition: .5s all;
	}
}
.view_text_container{
	font-size: 1.5rem;
	text-align: center;
	width: 50%;
	display: flex;
	height: 100%;
	margin: 0 auto;
	align-items: center;
 	.view_text{
    	margin: 0 auto;
    	z-index: 2;
    	visibility: hidden;
    	opacity: 0;
    	transition: visibility 0s, opacity 0.5s linear
  	}
}
.left_project , .top_project , .center_project , .right_project{
  	cursor: pointer;
	z-index: 1;
  	&:hover{
    	.view_text{
      		text-decoration: underline $dark-blue;
      		color: white;
      		visibility: visible;
      		opacity: 1;
    	}
  	}
}
// Section Two
.section_two {
	padding-bottom: $large-padding;
	background: $light-grey;
	.section_two_header_container {
		text-align: center;
		font-family: $heading-font;
	}
	.section_two_dev_container {
		height: 34rem;
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
.section_two_dev {
	border: 1px solid $medium-grey;
	border-radius: .6rem;
	background: white;
	color: $medium-grey;
	.section_two_dev_img_container{
		margin: 0;
		padding: $medium-padding 0 $medium-padding 0;
		.section_two_dev_img {
			margin: 0  auto;
			border-radius: 50%;
			height: 6.5rem;
			width: 6.5rem;
		}
	}
}
.section_two_dev_david {
	background: url('../img/david.jpg');
	background-size: cover;
}
.section_two_dev_kevin {
	background: url('../img/kevin.jpg');
	background-size: cover;
}
.section_two_dev_info_container {
	text-align: center;
	font-family: $paragraph-font;
	.section_two_info_icons {
		display: flex;
		.section_two_info_icon {
			border: 1px solid $light-grey;
			width: 33.33%;
			height: 3rem;
			display: flex;
			justify-content: center;
			align-items: center;
			.fa {
				font-size: $large-font;
				transition: .5s all;
				cursor: pointer;
			}
		}
	}
}
.fa-github {
	&:hover , &:active {
		color: $black;
	}	
}
.fa-linkedin {
	&:hover, &:active {
		color: $linkedin-blue;
	}	
}
.fa-user-o {
	&:hover, &:active {
		color: $green;
	}
}

.section_two_dev_info_name {
	font-size: $medium-font * 1.3;
	color: $dark-blue;
	margin: 0;
}
.section_two_dev_info_title {
	font-weight: bold;
	color: $dark-grey;
	font-size: $medium-font;
}
.section_two_info_icon_top {
	border-radius: 0 0 0 .5rem;
}
.section_two_info_icon_bottom {
	border-radius: 0 0 .5rem 0;
}
//Section three
.section_three {
	display: flex;
	flex-direction: column;
	.section_three_header_container {
		text-align: left;
		padding: $medium-padding;
	}
	.section_three_questions {
		line-height: $line-height;
		padding: $medium-padding;
	}
}
.section_three_header {
	padding: $medium-padding;
	font-size: $large-font;
	font-family: $heading-font;
}
.section_three_questions_header {
	font-family: $heading-font;
}
.section_three_questions_header {
	font-family: $paragraph-font;
}
//footer
.site_footer {
	display: flex;
	flex-direction: column;
	background: $dark-blue;
	padding: $medium-padding;
		.company_name {
			color: white;
			text-align: center;
			font-size: 1.5rem;
			letter-spacing: .2rem;
			width: 17rem;
			font-weight: thin;
			font-family: $heading-font;
			margin: 0 auto;

		.company_name_z{
			color: $green;
		}
	}
}
.button_back_to_top_container {
	display: flex;
	flex-direction: row;
	.back_to_top{
		height: 2.2rem;
		width: 2.2rem;
		display: block;
		position: absolute;
		right: 3.4rem;
	}
	.footer_button {
		height: 2.5rem;
		width: 40%;
		border-radius: .09rem;
		background: $green;
		display: block;
		margin-bottom: $large-margin;		
		border: none;
		margin: 0 auto;
		color: white;
		cursor: pointer;
	}
}
.footer_ul_container {
	list-style: none;
	padding: 0;
	font-family: $paragraph-font;
	color: white;
	font-size: $medium-font;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	.footer_ul_item_one , .footer_ul_item_two , .footer_ul_item_three {
		display: inline-block;
		margin-bottom: $small-margin;
	}
}
.small_copyright_text , .small_developed_by_text {
	color: white;
	text-align: center;
	font-family: $paragraph-font;
	font-size: $small-font * 1.4;
	margin: 2rem 0 0 0;
}
.small_developed_by_text{
	margin: 0;
}
@media only screen and (min-width: 700px) {
	// Header
	.hero_banner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.hero_banner_quality_paragraph {
			margin: 0;
			width: 70%;
		}
		.hero_banner_ideas_paragraph {
			margin: 0;
			width: 40%;
		}
		.lets_talk_button {
			width: 20%;
		}

	}
	// Section Two
	.section_two {
		height: 30rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.section_two_header_container {
		
		}
		.section_two_dev_container {
		 flex-direction: row;
		 height: max-content;
		}
	}
	.section_two_dev {
		width: 45%;
		height: max-content;
	}
}