@import 'mixins';
@import 'vars';
@import url('https://fonts.googleapis.com/css?family=Raleway');//heading font realeway
@import url('https://fonts.googleapis.com/css?family=Roboto'); // paragraph font roboto.
/******* html body root styling *****/
html {
	font-size: 15px;
}
body {
	margin: 0;
	padding: 0;
	.root{ //flex box main container
		display: flex;
		flex-direction: column;
	}
}
/***** header styling only *****/
.header {
	background: $dark-blue;
	.company_name {
		color: white;
		text-align: center;
		font-size: 1.5rem;
		margin: 0;
		padding-bottom: .5rem;
		position: relative;
		bottom: .5rem;
		letter-spacing: .2rem;
		left: 3.7rem;
		width: 17rem;
		font-weight: thin;
		font-family: $heading-font;
		.company_name_z{
			color: $green;
		}
	}
	.quote_button {
		color: white;
		background: $light-blue;
		border: 1px solid white;
		border-radius: .09rem;
		float: right;
		position: relative;
		bottom: 4rem;
		display: none;						
	}	
}
.nav_container {
	.hamburger_bar_top , .hamburger_bar_center, .hamburger_bar_bottom {	
		background: white;
		height: .38rem;
		width: 2.1rem;
		margin-bottom: .4rem;
		position: relative;
		top: 1.6rem;
		left: .8rem;
	}
}
.hamburger_nav_menu {
	display: none;
    list-style: none;
    font-size: 1.5rem;
    font-family: $heading-font;
	background: $light-blue;
	margin: 0;
	padding: 0;
	text-align: center;
	color: white;
	.hamburger_nav_menu_one , .hamburger_nav_menu_two , .hamburger_nav_menu_three{
		border-top: 1px solid white;
		height: 3rem;
		padding-top: 2rem;	
	}
}
// Section One
.section_one {
	display: flex;
	flex-direction: column;
	.section_one_header_container {
		text-align: left;
		padding: $medium-padding;
	}
	.section_one_questions {
		line-height: $line-height;
		padding: $medium-padding;
	}
}
.section_one_header {
	padding: $medium-padding;
	font-size: $large-font;
	font-family: $heading-font;
}
.section_one_questins_header {
	font-family: $heading-font;
}
.section_one_questins_header {
	font-family: $paragraph-font;
}
// Section Two
.section_two {
	padding-bottom: $large-padding;
	background: $light-grey;
	.section_two_header_container {
		text-align: center;
		font-family: $heading-font;
	}
	.section_two_dev_container {
		height: 34rem;
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
.section_two_dev {
	border: 1px solid $medium-grey;
	border-radius: .6rem;
	background: white;
	color: $medium-grey;
	.section_two_dev_img_container{
		margin: 0;
		padding: $medium-padding 0 $medium-padding 0;
		.section_two_dev_img {
			margin: 0  auto;
			border-radius: 50%;
			height: 6.5rem;
			width: 6.5rem;
		}
	}
}
.section_two_dev_david {
	background: url('../img/david.jpg');
	background-size: cover;
}
.section_two_dev_kevin {
	background: url('../img/kevin.jpg');
	background-size: cover;
}
.section_two_dev_info_container {
	text-align: center;
	font-family: $paragraph-font;
	.section_two_info_icons {
		display: flex;
		.section_two_info_icon {
			border: 1px solid $light-grey;
			width: 33.33%;
			height: 3rem;
			display: flex;
			justify-content: center;
			align-items: center;
			.fa {
				font-size: $large-font;
			}
		}
	}
}
.section_two_dev_info_name {
	font-size: $medium-font * 1.3;
	margin: 0;
}
.section_two_dev_info_title {
	font-weight: bold;
	color: $dark-grey;
	font-size: $medium-font;
}
.section_two_info_icon_top {
	border-radius: 0 0 0 .5rem;
}
.section_two_info_icon_bottom {
	border-radius: 0 0 .5rem 0;
}
